Introduction - Pandas

Installation:

In [30]:
# Install pandas https://pandas.pydata.org/docs/getting_started/install.html

In [1]:
# https://pandas.pydata.org/docs/getting_started/intro_tutorials/01_table_oriented.html#min-tut-01-tableoriented
# import packages
import pandas as pd

In [11]:
# define dataframe
df = pd.DataFrame(
    {
        "Typologies" : [
            "Typology_1",
            "Typology_2",
            "Typology_3",
            "Typology_4",
        ],
        "Name": ["residential", "government", "traditional", "hybrid_traditional_residential"],
        "UCC_per_m2": [200, 320, 260, 240],
        "Area_m2": [120, 160, 135, 180],
    }
)

In [12]:
# call dataframe
df

   Typologies                            Name  UCC_per_m2  Area_m2
0  Typology_1                     residential         200      120
1  Typology_2                      government         320      160
2  Typology_3                     traditional         260      135
3  Typology_4  hybrid_traditional_residential         240      180

In [21]:
# call column 2 - When selecting a single column of a pandas DataFrame, the result is a pandas Series. 
# To select the column, use the column label in between square brackets [].
df["Name"]

0                       residential
1                        government
2                       traditional
3    hybrid_traditional_residential
Name: Name, dtype: object

In [14]:
# call column 3
df["UCC_per_m2"]

0    200
1    320
2    260
3    240
Name: UCC_per_m2, dtype: int64

In [20]:
# define series - create a Series from scratch. A pandas Series has no column labels, as it is just a single column of a DataFrame. A Series does have row labels.
UCC_m2_sequence = pd.Series([200, 320, 260, 240], name="UCC")

In [19]:
UCC_m2_sequence

0    200
1    320
2    260
3    240
Name: UCC, dtype: int64

In [26]:
# Find max UCC from dataframe
df["UCC_per_m2"].max()

320

In [27]:
# Find max from series
UCC_m2_sequence.max()

320

In [28]:
# Get key stats on dataframe columns
df.describe()

       UCC_per_m2     Area_m2
count         4.0    4.000000
mean        255.0  148.750000
std          50.0   26.575365
min         200.0  120.000000
25%         230.0  131.250000
50%         250.0  147.500000
75%         275.0  165.000000
max         320.0  180.000000

Summary - This is just a starting point. Similar to spreadsheet software, pandas represents data as a table with columns and rows. 
Apart from the representation, also the data manipulations and calculations you would do in spreadsheet software are supported by pandas.
Continue reading the next tutorials to get started!

Import the package, aka import pandas as pd

A table of data is stored as a pandas DataFrame

Each column in a DataFrame is a Series

You can do things by applying a method to a DataFrame or Series

# Reading and writing Excel files

In [31]:
# https://pandas.pydata.org/docs/getting_started/intro_tutorials/02_read_write.html

In [ ]:
trees = pd.read.csv()